In [1]:
import pandas as pd
arrest = pd.read_csv('arrest-data-from-2010-to-present.csv')
crime = pd.read_csv('crime-data-from-2010-to-present.csv')

In [2]:
from features import *
from Kmeans_runner import KMenas_custom_runner
from distribution_plot import plot_distribution

import warnings
warnings.filterwarnings('ignore')

In [3]:
arrest_feature_df = get_arrest_features(arrest)
crime_feature_df = get_crime_features(crime)

In [4]:
crime_feature_df

,day,month,hour,minute,lat,lon,1,2,3,4,...,AA,AO,CC,IC,JA,JO,Crime Code 1,Crime Code 2,Crime Code 3,Crime Code 4
0,0.866667,0.636364,0.521739,0.932203,0.978989,0.003895,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
1,0.766667,1.000000,0.913043,0.000000,0.979466,0.003959,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
2,0.066667,0.545455,0.869565,0.000000,0.983366,0.001612,0,0,0,0,...,0,1,0,0,0,0,1,1,0,0
3,0.000000,0.000000,0.521739,0.000000,0.982369,0.001415,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0
4,0.033333,0.090909,0.782609,0.000000,0.982044,0.001208,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667394,0.700000,0.454545,0.652174,0.305085,0.981849,0.001313,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
667395,0.700000,0.454545,0.869565,0.000000,0.982524,0.001486,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
667396,0.700000,0.454545,0.826087,0.338983,0.982582,0.001465,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
667397,0.700000,0.454545,0.956522,0.254237,0.982791,0.001425,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
667398,0.466667,0.000000,0.826087,0.677966,0.975689,0.004463,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [ ]:
label = arrest['Descent Code']
arrest_kmeans = KMenas_custom_runner(label, arrest_feature_df, 5, 200, 2)
#parameters: label_series, df_feature, num_cluster, num_iter, order
#order 2 uses Euclidean distance for means; 1 uses Manhattan distance for medians

0 th iteration:

In [ ]:
result_df = arrest_kmeans.get_results_df()
centers = arrest_kmeans.get_center()
loss = arrest_kmeans.get_loss()

In [ ]:
plot_distribution(result_df)

In [ ]:
def get_true_and_cluster_value(result_df):
    
    result_df = result_df[df_results_custom['race_label'].isin(['B', 'H', 'W', 'O'])]
    
    dic = {}
    
    dic["true_dist"] = result_df.race_label.value_counts(normalize=True).values
    for clu in result_df['grouping'].unique():
        dic["cluster "+str(clu)] = result_df[result_df['grouping'] == clu].race_label.value_counts(normalize=True).values
    return dic
        
    
plotdata = pd.DataFrame(get_true_and_cluster_value(df_results_custom))

my_colors = ['r', 'g', 'y', 'g', 'y', 'g', 'y'] #for 6 cluster (just to be safe)

plotdata.plot(kind="bar",figsize=(15, 8), color=my_colors)
plt.title('Race Distribution: Overall and Within_5_Clusters');